 <!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>

<body>
  
    <h6>Hello, <%=data%>!<br>Welcome ON Board!<br><a class="logout" href="/logout">LOGOUT</a></h6>
    <%- include('.././layout/header') %>

 
      <p><h2>Your Favorite Phrases are Here</h2></p>
 
    <ul>
       <% phrasegoup.forEach((phr,uid)=>{ %>
     <li>
      <p class="ph" id="delete-<%=uid%>"> <%=phr %></p>
      <a href="http://www.localhost:3000/phrases">View</a>
      <form>
      <button class="deletebutton" type="submit" data-id="<%=uid%>">Delete</button>
    </form>
    </li>

     <% }) %> 
    </ul>
    
    <canvas id='s'>grass background</canvas>
    <script src="/grass.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
</body>
   
</html>